<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
    <setting name="cacheEnabled" value="false"/>
    <setting name="jdbcTypeForNull" value="NULL"/>
    
    </settings>
    

	<typeAliases>
	<typeAlias type="model.KicMember" alias="member"/>
	<typeAlias type="model.Student" alias="student"/>
	<typeAlias type="model.Professor" alias="professor"/>
	</typeAliases>

	<environments default="oracle">
		<environment id="oracle">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">			
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="kic24" />
				<property name="password" value="1234" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
	<mapper  resource="mapper/Student.xml"/>
	<mapper  resource="mapper/Member.xml"/>
	<mapper  resource="mapper/Professor1.xml"/>
	<mapper   class="mapper.ProfessorAnno"/>
	</mappers>
</configuration>  
  
  